
@using Blazored.Toast.Configuration

@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

<div class="main">
    <div class="content px-4" id="page-top">
        @Body
    </div>
    <AnchorUtilsComponent/>
</div>

